<ul class="sidebar-nav">
            <li><a href="/catalogue">Home</a></li>
            <li><a href="/catalogue/livres">Par livres</a></li>
            <li><a href="/catalogue/auteurs">Par auteurs</a></li>
            <li><a href="/catalogue/genres">Par genres</a></li>
            <li><a href="/catalogue/instancelivres">Par copies-physiques</a></li>
            <li>
              <hr>
            </li>
            <li><a href="/catalogue/auteur/create">Create nouveau auteur</a></li>
            <li><a href="/catalogue/genre/create">Create nouveau genre</a></li>
            <li><a href="/catalogue/livre/create">Create nouveau livre</a></li>
            <li><a href="/catalogue/instancelivre/create">Create nouveau livre instance (copie physique)</a></li>
          </ul>
